<?xml version="1.0" encoding="UTF-8"?>
<main>
    <db>
        <user>root</user>
        <passwd>root</passwd>
        <host>localhost</host>
        <db>talentla_gestionale</db>
        <port>3306</port>
    </db>
    <emptyjail>
        <code>9877890</code>
    </emptyjail>
    <socketconf>
        <port>6113</port>
        <tokenkey>178e9e6d04c9c1bd3c831f089eb726ff</tokenkey>
    </socketconf>
</main>